@model CoreBusiness.Product
<div class="form-group">
    <label asp-for=Name class="col-form-label"></label>
    <input type="text" class="form-control" value="@Model.Name" readonly/>

</div>
<div class="form-group">
    <label asp-for=Price class="col-form-label"></label>
    <input type="text" class="form-control" value="@Model.Price" readonly />

</div>
